p {
  margin: 0;
}

.userCard {
  min-width: 80px;
  max-width: 200px;
  border: 1px solid #121212;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fbf8f8;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

.image {
  margin: 10px auto;
}

.userName {
  font-weight: 500;
  font-size: 18px;
  word-wrap: break-word;
}

.userStatus {
  font-size: 12px;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
